.form {
    display: flex;
    flex-direction: column;
    gap: 10px;


    border: 1.5px solid rgb(172, 247, 81);
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    
    justify-content: center;
    


    background-color: rgb(200, 245, 160);
}

.form label {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: flex-start;
}

.form input {
    display: flex;
    flex-direction: column;
}

h1,
h2, p {
    text-align: center;
}